---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less link and gradient background
$theme-navy: #303a4b;
$theme-green: #02AC54;
$theme-blue: #2a9bd8;

$head-primary: $theme-navy ;
$head-secondary: $theme-navy ;
$theme-primary: $theme-navy ;
$theme-secondary: $theme-navy ;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

a {
  text-color: bs-example-navbar-collapse-1
}

.full {
  width: 100%;
  height: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.middle {
  display: flex;
  align-items: center;
}

.bg-navy {
  background-color: $theme-navy;
  color: white;
}

.bg-blue {
  background-color: $theme-blue;
  color: white;
}

.bg-green {
  background-color: $theme-green;
  color: white;
}

.bg-navy-to-blue {
  background: $theme-navy;
  background: -webkit-linear-gradient($theme-navy, $theme-blue);
  background: linear-gradient($theme-navy, $theme-blue);
  color: white;
}

.bg-navy-to-white {
  background: $head-primary;
  background: -webkit-linear-gradient($theme-navy, white);
  background: linear-gradient($theme-navy, white);
  color: white;
}

.bg-blue-to-green {
  background: $theme-blue;
  background: -webkit-linear-gradient($theme-blue, $theme-green);
  background: linear-gradient($theme-blue, $theme-green);
  color: white;
}

.bg-green-to-blue {
  background: $theme-green;
  background: -webkit-linear-gradient($theme-green, $theme-blue);
  background: linear-gradient($theme-green, $theme-blue);
  color: white;
}

@media (min-width: 768px) {
  .main-message {
    font-size: 48px;
    line-height: 60px;
    text-align: left;
  }
  .main-logo-image {
  }
  .navbar-flex {
    height: 70px;
  }
  .nav-logo {
    margin-top: 5px;
    width: 150px;
    height: 60px;
  }
  .youtube {
    position: relative; 
    overflow: hidden; 
    padding-bottom: 56.26%; 
    align-items: center;
  }
  .category-box {
    diaplay: inline-block;
  }
  .nav-flex-background {
  }
}
@media screen and (max-width: 767px) {
  .main-message {
    font-size: 30px;
    line-height: 45px;
    text-align: left;
  }
  .main-logo-image {
    display: none;
  }
  .navbar-flex {
    height: 50px;
  }
  .nav-logo {
    margin-top: 5px;
    width: 100px;
    height: 40px;
  }
  .youtube {
    position: relative; 
    overflow: hidden; 
    padding-bottom: 56.26%; 
    align-items: center;
  }
  .category-box {
    display: inline;
  }
  .nav-flex-background {
    background-color: white;
    width: 100%;
  }
  .margin-mobile {
    margin-left: 5%;
    margin-right: 5%;
  }
}
