<section id="contact" class="full-height bg-light-blue contact-container padding-nav-top">
    <div class="container full-height contact-box">
        <div class="col-lg-4 text-color-darkgray text-family-scoredream">
            <div style="padding: 20px; max-width: 400px; margin: 0 auto;">
                <div class="row" style="padding: 10px 0 0 0;">
                    <div class="col-xs-2 text-weight-5" style="padding: 0;">
                        주소
                    </div>
                    <div class="col-xs-10 text-weight-3" style="padding: 0;">
                        서울특별시 마포구 백범로1길 3 2층
                    </div>
                </div>
                <div class="row" style="padding: 0 0 20px 0;">
                    <div class="col-xs-2 text-weight-5" style="padding: 0;">
                        전화
                    </div>
                    <div class="col-xs-10 text-weight-3" style="padding: 0;">
                        0507-1479-5670
                    </div>
                </div>
                <div class="row text-narrow text-align-left" style="padding-bottom: 40px;">
                    <div class="col-sm-12" style="padding: 0;">
                        신촌역 6번 출구에서 1분,<br/>
                        '뜸들이다' 건물 2층에 있습니다.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 full-height">
            <div id="map" style="width: 100%; height: 70%; margin:auto"></div>
            <!-- <code id="snippet" class="snippet"></code> -->
        </div>
    </div>
</section>

