<section id="contact" class="full-height bg-light-blue">
    <div class="container full-height" style="padding-top: 7%;">
        <div class="col-sm-4 text-color-darkgray text-family-scoredream">
            <div class="row text-narrow text-align-left" style="padding-top: 10px; padding-bottom: 30px;">
                <div class="col-sm-12">
                    신촌역 6번 출구에서 1분,<br/>
                    뜸들이다 건물 2층에 있습니다.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2" style="font-weight: 500;">
                    주소
                </div>
                <div class="col-xs-10" style="font-weight: 300;">
                    서울특별시 마포구 백범로1길 3 2층
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-xs-2" style="font-weight: 500;">
                    전화
                </div>
                <div class="col-xs-10" style="font-weight: 300;">
                    0507-1479-5670
                </div>
            </div>
        </div>
        <div class="col-sm-8 full-height">
            <div id="map" style="width: 100%; height: 70%; margin:auto"></div>
            <!-- <code id="snippet" class="snippet"></code> -->
        </div>
    </div>
</section>

