<!-- <header> -->
<div class="full main-blue">
    <div class="container full-height middle">
        <div class="row middle">
            <div class="col-sm-7" style="padding-bottom: 100px;">
                <div class="header-content">
                    <div class="header-content-inner" style="align: center;">
                        <!-- <h1 style="font-family: Noto Sans KR;">이음교회에 오신 여러분을</br><b>환영합니다!</b></h1> -->
                        <!-- <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a> -->
                        <h3 class="main-message">이음교회는</br><b>하나님 나라와 세상을 잇는</b></br>교회입니다.</h4>
                        <!-- <div style="align: left;">
                            <h4 style="font-family: Noto Sans KR;"><b>주일예배</b> 오전 11시</h4>
                            <h4 style="font-family: Noto Sans KR;"><b>아침묵상</b> 오전 8시 이음교회 유튜브</h4>
                            <h4 style="font-family: Noto Sans KR;"><b>기도회</b> 목요일 오후 9시</h4>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-5 main-logo-image" style="flex: 1;">
                <div class="header-content" style="padding: 0px;">
                    <div class="header-content-inner">
                        <img src="/img/logo/logo_body_sign_white.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </header> -->
