<!-- <header> -->
<div class="full bg-gray">
    <div class="container middle" style="height:720px; padding-top:170px;">
        <div class="col-sm-6 col-md-offset-1 full-height" style="padding: 70px 0px 0px 0px;">
            <font class="super-text super-text-blue narrow-text">하나님 나라</font><font class="super-text super-text-thin narrow-text">와</font></br>
            <font class="super-text super-text-green narrow-text">세상</font><font class="super-text super-text-thin narrow-text">을 잇는 교회,</font>
            <img src="/img/logo/logo_name.png" class="name-logo-image" style="padding-top:100px;">
        </div>
        <div class="col-sm-4 full-height middle" style="padding: 0;">
            <div style="margin: 0 auto;">
                <img src="/img/logo/logo_big.png" class="main-logo-image"><br/>
                <div class="circle"></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="full bg-white ramain">
        <div class="container" style="padding-top: 80px;">
            <div class="container" style="padding:0;">
                <div class="col-sm-2" style="padding-right: 40px;">
                    <div class="bg-black" style="width: 4px; height: 90px; float: right;"></div>
                </div>
                <div class="col-sm-10" style="padding: 0;">
                    이음교회는 '하나님과 세상을 잇는 교회'라는 모토로 이 세상에 다리를 놓아가는 교회를 이루어 가고 있습니다.<br/>
                    하나님의 말씀을 사람들에게 이어주고, 신앙의 삶과 일상의 삶을 이어주고, 사람과 사람을 이어주는 교회를 이루어<br/>
                    이 땅에 하나님의 나라를 세워 나가는 믿음의 공동체입니다.
                </div>
            </div>
            <div class="container">
                <div class="col-sm-11" style="height:90px; text-align:bottom; position: relative;">
                    <div class="row" style="position: absolute; bottom: 0; right: 0;">
                        <div class="rounded-button">
                            <div class="bold-content">주일예배</div>
                            <div class="light-content">주일 오전 11시</div>
                        </div>
                        <div class="rounded-button">
                            <div class="bold-content">말씀묵상</div>
                            <div class="light-content" style="right: 30px;">평일 오전 8시</div>
                            <div class="icon-content">
                                <a href="https://www.youtube.com/@user-ji5pb4qp4o" target="_blank"><img class="icon" src="/img/icon-youtube.png"></a>
                            </div>
                        </div>
                        <div class="rounded-button">
                            <div class="bold-content">목요기도회</div>
                            <div class="light-content">목요일 오후 9시</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
<!-- </header> -->
