<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-flex bg-white">
    <div class="container full-height">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="position:relative;">
            <button type="button" class="navbar-toggle collapsed nav-menu-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> 메뉴 <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll align-contents-bottom nav-logo" href="/"><img src="/img/logo/logo_entire_with_body.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-flex-background" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#page-top">
                        <span class="text-size-small text-weight-3 text-family-gyeonggi">교회 소개</span>
                    </a>
                </li>
                <li>
                    <a href="#message">
                        <span class="text-size-small text-weight-3 text-family-gyeonggi">설교</span>
                    </a>
                </li>
                <li>
                    <a href="#visions">
                        <span class="text-size-small text-weight-3 text-family-gyeonggi">이음 비전</span>
                    </a>
                </li>
                <li>
                    <a href="#news">
                        <span class="text-size-small text-weight-3 text-family-gyeonggi">사역과 소식</span>
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <span class="text-size-small text-weight-3 text-family-gyeonggi">찾아오시는 길</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
