<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-flex">
    <div class="container full-height">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header full-height">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> 메뉴 <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="padding-top: 0px;"><img class="nav-logo" src="/img/logo/logo_body_simple.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse nav-flex-background" id="bs-example-navbar-collapse-1" style="padding-top: 10px;">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#message" style="font-family: Noto Sans KR; font-weight: 300; font-size: 16px;">설교</a>
                </li>
                <li>
                    <a class="page-scroll" href="#visions" style="font-family: Noto Sans KR; font-weight: 300; font-size: 16px;">이음 비전</a>
                </li>
                <li>
                    <a class="page-scroll" href="#news" style="font-family: Noto Sans KR; font-weight: 300; font-size: 16px;">사역과 소식</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact" style="font-family: Noto Sans KR; font-weight: 300; font-size: 16px;">찾아오시는 길</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
