<section id="visions" class="features full-height middle bg-theme-gradient">
    <div class="container">
        <div class="title-text" style="font-weight:500; font-size:25px; text-align:center; padding-bottom: 100px;">
            비전과 사역
        </div>
        <div class="row">
            <div class="col-sm-3 vision">
                <div class="icon-box">
                    <div class="icon">
                        <a href="2020/01/12/visions/#1">
                            <img class="vision-icon-img" src="/img/icon-vision-01.png">
                        </a>
                    </div>
                    <a href="2020/01/12/visions/#1">
                        <div class="title">
                            <font class="bold">하나님</font><font class="light">과</font><br/>
                            <font class="bold">사람</font><font class="light">을</font><br/>
                            <font class="light">이음</font>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 vision">
                <div class="icon-box">
                    <div class="icon">
                        <a href="2020/01/12/visions/#2">
                            <img class="vision-icon-img" src="/img/icon-vision-01.png">
                        </a>
                    </div>
                    <a href="2020/01/12/visions/#2">
                        <div class="title">
                            <font class="bold">사람</font><font class="light">과</font><br/>
                            <font class="bold">사람</font><font class="light">을</font><br/>
                            <font class="light">이음</font>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 vision">
                <div class="icon-box">
                    <div class="icon">
                        <a href="2020/01/12/visions/#3">
                            <img class="vision-icon-img" src="/img/icon-vision-01.png">
                        </a>
                    </div>
                    <a href="2020/01/12/visions/#3">
                        <div class="title">
                            <font class="bold">교회</font><font class="light">와</font><br/>
                            <font class="bold">우리 삶</font><font class="light">을</font><br/>
                            <font class="light">이음</font>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 vision">
                <div class="icon-box">
                    <div class="icon">
                        <a href="2020/01/12/visions/#4">
                            <img class="vision-icon-img" src="/img/icon-vision-01.png">
                        </a>
                    </div>
                    <a href="2020/01/12/visions/#4">
                        <div class="title">
                            <font class="bold">교회</font><font class="light">와</font><br/>
                            <font class="bold">세상</font><font class="light">을</font><br/>
                            <font class="light">이음</font>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
