<!DOCTYPE html>
<html lang="ko">

<head>
  {% include head.html %}

  <!-- og thumbnail -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://2eumchurch.org">
  <meta property="og:title" content="하나님나라와 세상을 잇는 이음교회">
  <meta property="og:image" content="https://2eumchurch.org/img/logo/logo_simple_with_body.png">
  <meta property="og:description" content="대한예수교장로회">
</head>

<body id="top">
  {% include nav-main.html %}
  {% include header.html %}
  {% include bodyinfo.html %}
  {% include message.html %}
  {% include visions.html %}
  {% include news.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.4.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.4.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBpZ8d0G-0c9AW28f08deCHpivmdeINyaE",
    authDomain: "eumchurch-1ed5e.firebaseapp.com",
    projectId: "eumchurch-1ed5e",
    storageBucket: "eumchurch-1ed5e.firebasestorage.app",
    messagingSenderId: "261115910546",
    appId: "1:261115910546:web:7591137cdbfbd1c241c94b",
    measurementId: "G-CRXSLMM3FY"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

</html>
