---
layout: default
---

<!-- Post Header -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="post-heading text-align-center" style="padding-top: 150px;">
                <span class="text-size-huge text-family-scoredream text-weight-4">{{ page.title }}</span><br/>
                {% if page.subtitle %}
                    <span class="text-size-large text-family-scoredream text-weight-3">{{ page.subtitle }}</span><br/>
                {% endif %}
                <span class="meta text-size-small text-family-scoredream text-weight-2">
                    {{ page.date | date: "%B %-d, %Y" }}<br/>
                </span>
                <!-- <a href="#post" class="page-scroll"><i class="fa fa-fw fa-2x fa-arrow-down"></i></a> -->
            </div>
        </div>
    </div>
    
</div>

<!-- Post Content -->
<article>
    <div id="post" class="container">
        
        <div class="row">
            <div class="col-xs-12 col-md-10" style="padding: 0;">
                <div class="container-fluid index">
                    <div class="col-md-12 content-panel articles">
                        
                        <hr class="light width-10 margin">

                        {{ content }}

                        <hr class="light width-10 margin">

                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
